<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Address</th>
        <th scope="col">Contact No</th>
        <th scope="col">Operations</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of collection">
        <th>{{item.id}}</th>
        <th>{{item.name}}</th>
        <th>{{item.address}}</th>
        <th>{{item.contact}}</th>
        <th><i (click)="deleteHospital(item.id)" class="fa fa-trash" style="font-size: 25px;color: red;">
          </i>
          <!-- <a routerLink="/update/{{item.id}}">
            <i
            class="fa fa-edit" style="font-size: 60px;color: blue;">
            </i>
          </a> -->
        </th>
      </tr>
    </tbody>
  </table>